








   



















.container-fluid{
      background-image: url("images/53510769734-8b85c25411-k.webp") !important;
    
    
     
 
    

    
}
.mission > i{
   background-color: aqua;
}

.mission{
   font-weight: bold;
}


.two > p{
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
   
}

    
      
.container-fluid{
    position: relative;
}
.container{
   
    margin-top: 50px;
   
    
}


